.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-box {
  border-radius: 25px;
  background-color: #393940;

  width: 70vw;
  height: 70vh;
}

@media only screen and (max-width: 480px) {
  .login-box {
    width: 80%;
    height: 90vh;
  }
}

.box-container {
  height: 100%;
  display: grid;
  grid-template-columns: 35% auto;
}

@media only screen and (max-width: 480px) {
  .box-container {
    grid-template-columns: 0% auto;
  }
}

.image-box {
  grid-column: 1;
  background-color: red;
  border-radius: 25px 0 0 25px;

  background: url("https://i.imgur.com/JUnjWAT.png") no-repeat center center;
}

.list-form {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.fiflu-menu {
  align-self: flex-end;
}
